a{
    text-decoration: none;

}

body{
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cute and playful font */
    background-color: #ececec; /* Use first-color for body background */
}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/login.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, p {
    color: #385170; /* Use third-color for heading */
    text-align: center; /* Center align the heading */
    margin-top: 30px; /* Add some space on top */
}

.login-box {
    width: 300px; /* Adjust width of the box */
    margin-top: auto;
    margin:auto; /* Center align the box */
    background-color: #fff; /* White background for the box */
    padding: 20px; /* Add some padding */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

input[type="text"],
input[type="password"],
input[type="button"] {
    width: calc(100% - 40px); /* Make inputs full width with padding */
    padding: 10px; /* Add padding */
    margin: 10px auto; /* Add margin */
    border: 1px solid #385170; /* Use third-color for input borders */
    align-self: center;
    border-radius: 20px; /* Rounded corners */
    outline: none; /* Remove default outline */
}

input[type="button"] {
    background-color: #142d4c; /* Use fourth-color for submit button background */
    width: calc(100% - 20px);
    color: #fff; /* White text color */
    font-weight: bold; /* Make text bold */
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #385170; /* Darker shade of third-color on hover */
}

.error {
    border-color: red;
}

