body {
    font-family:sans-serif; 
    background-color: #b8cfd7; 
    margin: 0;
    padding: 0;
}

h2{
    margin: auto 0;
    font-size: 30px; 
    color: #fff;
}

.form-header{
    display: flex;
    background-color: #132743;
    text-align: center;
    border: 1px #fff solid;
    border-radius: 12px;
    margin-bottom: 10px;
    padding: 5px;

}

#back-btn{
    background-color: #385170;
    color: white;
    margin: 10px;
    margin-right: 30px;
    border: 1px solid #385170;
    padding: 5px 10px;
    border-radius: 20px;
}

#back-btn:hover{
    border-color: #fff;
    background-color: #132743;
}

.container{
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/background.svg);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.new-task-box {
    flex: 0 0 auto;
    width: 360px; 
    margin:auto; 
    background-color: #fff; 
    backdrop-filter: blur(30px);
    padding: 20px; 
    border: 1px #132743 solid;
    border-radius: 10px; 
    box-shadow: 2px 4px 6px #132743; 
    align-items: center;

}

article{
    flex: 1;
    
}

.image-article {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


#image1{
    width: 380px;
    height: 500px;
    margin-left: 20px;
    border:2px solid #132743;
    border-radius: 10px;
    border-right: none;
}

#image2{
    width: 380px;
    height: 500px;
    margin-left: 30px;
    border:2px solid #132743;
    border-radius: 10px;
    border-left: none;
}

#timesheetForm{
    margin-left: 43px;
}

#fullName{
    margin-left: 26px;
    padding: 3px;
    padding-left: 5px;
}

#email{
    margin-left: 60px;
    padding: 3px;
    padding-left: 5px;
}

#date{
    margin-left: 66px;
    padding: 3px;
    padding-left: 5px;
}

#startTime{
    margin-left: 29px;
    padding: 3px;
    padding-left: 5px;
}

#endTime{
    margin-left: 34px;
    padding: 3px;
    padding-left: 5px;
}

#totalHours{
    margin-left: 21px;
    padding: 3px;
    padding-left: 5px;
}

#projectCode{
    margin-left: 10px;
    padding: 3px;
    padding-left: 5px;
}

#taskDescription{
    width: 277px;
    margin-top: 10px;
    padding: 3px;
    padding-left: 5px;
}

.submit{
    background-color: #132743; /* Use fourth-color for submit button background */
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
    width: 250px; 
    padding: 10px;
    margin: 0px auto; 
    margin-left: 15px;
    border: 1px solid #385170; /* Use third-color for input borders */
    align-self: center;
    border-radius: 20px; 
    outline: none; 
}

.submit:hover{
    background-color: #1d3c67;
}