body {
    font-family:sans-serif; 
    background-color: #ececec; 
    margin: 0;
    padding: 0;
}

h2{
    margin: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(add-task-back.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task-box {
    width: 400px; 
    margin-top: auto;
    margin:auto; 
    background-color: #fff9; 
    backdrop-filter: blur(20px);
    padding: 20px; 
    border: 1px #132743 solid;
    border-radius: 10px; 
    box-shadow: 2px 4px 6px #132743; 
    align-items: center;
    text-align: center;

    overflow-wrap: break-word;
}

.submit{
    background-color: #132743; /* Use fourth-color for submit button background */
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
    width: 300px; 
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #385170; /* Use third-color for input borders */
    align-self: center;
    border-radius: 20px; 
    outline: none; 
}

.submit:hover{
    background-color: #1d3c67;
}