body{
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    font-family: sans-serif;
    background-color: #F8F8FF;
}

main{
    position: absolute;
    height: 100%; /*full height*/
    width: 100%; /*full width*/
    padding-top: 100px; /*not blocked by header*/
    padding-bottom: 80px; /*not blocked by footer*/
}

.header{
    width:100%; /*full width of body*/
    height: 80px;
    position: fixed; /*stays in place*/
    background-color: #407088;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
}

/*style nav bar*/

ul{
    display: flex;
    list-style-type: none;
    margin-left: 40px;
}

ul li a{
    padding: 0 30px;
    text-decoration: none;
    color: #ffb5b5;
    display: inline-block;

}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #ffcbcb;
}

li:not(.notifications) a:hover::after{
    width: 100%;
}

li#bookings{
    position: relative;
}

/*style drop down*/

.drop-down{
    display: none;
    border-radius: 10px;
}

ul li:hover .drop-down{
    display: block;
    position: absolute;
    background-color: #4b788f;
    z-index: 1; /*stays on top*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /*shadow on border*/
    margin-top: 0;
    left: 0;

}

ul li:hover .drop-down ul{
    display: block; 
    margin: 0;
    padding: 0;
}

ul li:hover .drop-down ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
}

h1{
    color: #ffb5b5;
    margin-bottom: 30px;
    margin-left: 10px;
}

/*style h2 (Your notifications)*/

h2 {
    color: #132743;
    padding: 5px 10px;
    margin:10px auto 0 auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: color 0.5s ease;
}

h2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(224, 160, 208, 0), rgba(62, 50, 223, 0.5)); /* Ripple gradient */
    transition: transform 0.5s ease-out;
    pointer-events: none; 
    z-index: 1;  
    transform: translateX(-100%); /*moves left to right*/
    border-radius: 20px;
}

h2:hover::before,
h2.permanent::before {
    transform: translateX(0); /* Move the pseudo-element to the right to reveal the gradient */
}

/*style table*/

.table-container{
    height: 100%;
    margin:10px;
    border: 2px inset #C0C0C0;
    background: linear-gradient(to right, #e4e2e3, #dabdd8);
}

.table-header{
    background-color: #dbe9ee;;
    text-align: center;
}


#NotificationContainer{
    margin: 10px;
}

/*style footer*/

.footer{
    width: 100%;
    background-color: #407088;
    bottom: 0;
    text-align: center;
    position: fixed;
}

p{
    color: #ffb5b5;
    font-size: 12px;
}