main{
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image:url(img/car.svg);
    background-color: #b7d1da;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: sans-serif;
}

.header{
    width:100%; /*width across entire screen*/
    height: 80px; 
    position: fixed; /*header doesnt move*/
    background-color: #407088; 
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; /*center items*/
    text-align: center;
}


nav{
    margin-right: 30px;
}

/*style nav bar*/

ul{
    display: flex;
    list-style-type: none;
    margin-left: 0px;
}

ul li a{
    padding: 3px 30px;
    text-decoration: none;
    color: #ffb5b5;
    display: inline-block;

}

/*underline transition*/

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #ffcbcb;
}

li:not(.notifications) a:hover::after{
    width: 100%;
}

li#bookings{
    position: relative;
}

/*style drop down*/

.drop-down{
    display: none;
    border-radius: 10px;
}

ul li:hover .drop-down{
    display: block;
    position: absolute;
    background-color: #4b788f;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /*shadow around box*/
    margin-top: 0;
    left: 0;

}

ul li:hover .drop-down ul{
    display: block; 
    margin: 0;
    padding: 0;
}

ul li:hover .drop-down ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
}

/*style notification bell*/

.notifications .fa-bell{
    transition: all 0.5s;
    color: #ffb5b5; /*same colour as words*/
    transform-origin: center;

}

.notifications .fa-bell:hover{
   color: white;
}

h1{
    color: #ffb5b5;
    margin-bottom: 28px;
    margin-left: 30px;
    margin-right: 0;
    margin-right: auto;
}

/*style carwash in nav bar*/

#carwash{
    background-color: #ffcbcb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style:italic;
    font-weight: 600;
}

#carwash a{
    color: #4b788f;
}

#carwash a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #4b788f;
    z-index: 1;
}

#bookings > a{
    font-style:italic;
    font-weight: 600;
    text-decoration: underline;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    color:#132743;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

/* Popover Styles */
.popover-container {
    position: relative;
}

.popover-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 40px;
    width: fit-content;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.popover-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    color: #132743;

}

.popover-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #407088;
}

.see-all-link {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.see-all-link:hover {
    text-decoration: underline;
}


.show-popover {
    display: block !important;
}

/*fotter styles*/

.footer{
    width: 100%;
    background-color: #407088;
    bottom: 0;
    text-align: center;
    position: fixed;
}

p{
    color: #ffb5b5;
    font-size: 12px;
}

/*form styling*/

.form-container{
    width: 280px;
    margin: 20px 70px;
    margin-left: auto;
    margin-top: 30px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /*shadow around form*/

}

h4{
    font-size: 25px;
    margin: 10px;
    margin-bottom: 30px;
    transition: 5s;
}


section{
    text-align: center;
}

label{
    margin: 20px;
}

/*styling each input*/

#name, #date, #carWashType, #timeSlot{
    border: 1px solid #000;
    padding: 4px;
    margin: 3px;
    margin-left: 50px;
    border-radius: 10px;
}



#name{
    padding-left: 10px;
}

#date{
    width: 167px;
    text-align: center;
}

#carWashType{
    width: 176px;
    text-align: center;
    cursor: pointer;
}

#timeSlot{
    width: 176px;
    cursor: pointer;
}

/*style submit button*/

#submit-btn{
    background-color: #132743; 
    width: calc(100% - 40px); /*specific width*/
    margin: 10px;
    margin-left: 20px;
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
}

#submit-btn:hover{
    background-color: #385170
}
