body{
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    margin: auto;
    background-color: #fbdada;
    background: radial-gradient(50% 50%, #fff, #fdd5d5); /*background colouring*/
    font-family: sans-serif;
}

main{
    padding-top: 100px;
}

.header{
    width:100%; /*width across entire screen*/
    height: 80px; 
    position: fixed; /*header doesnt move*/
    background-color: #407088; 
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; /*center items*/
    text-align: center;
}


nav{
    margin-right: 30px;
}

/*style nav bar*/

ul{
    display: flex;
    list-style-type: none;
    margin-left: 0px;
}

ul li a{
    padding: 3px 17px;
    text-decoration: none;
    color: #ffb5b5;
    display: inline-block;

}

/*unerline transition*/

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #ffcbcb;
}

li:not(.notifications) a:hover::after{
    width: 100%;
}

li#bookings{
    position: relative;
}

/*style drop down*/

.drop-down{
    display: none;
    border-radius: 10px;
}

ul li:hover .drop-down{
    display: block;
    position: absolute;
    background-color: #4b788f;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /*shadow around box*/
    margin-top: 0;
    left: 0;

}

ul li:hover .drop-down ul{
    display: block; 
    margin: 0;
    padding: 0;
}

ul li:hover .drop-down ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
}

/*style notification bell*/

.notifications .fa-bell{
    transition: all 0.5s;
    color: #ffb5b5;
    transform-origin: center;
    margin-top: 4px;
    padding: 0 10px;
}

.notifications .fa-bell:hover{
   color: white;
}

h1{
    color: #ffb5b5;
    margin-bottom: 28px;
    margin-left: 10px;
    margin-right: 0;
    margin-right: auto;
}

/*style meals in nav bar*/

#meals{
    background-color: #ffcbcb;
    border-radius: 30px;
    padding-top: 1px;
    font-style:italic;
    font-weight: 600;
}

#meals a{
    color: #4b788f;
}

#meals a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #4b788f;
    z-index: 1;
}

  

.top-sec{
    display: flex;
}

/*style back button*/

#back-btn{
    margin:0px 30px;
    background-color: #fb9191;
    border: 1px solid #000; /*button border*/
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    transition: transform 0.5s ease;
}

#back-btn:hover{
    box-shadow: 1px 3px 3px #132743; 
    animation: shake 1s; 
}

/*shaking animation*/

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.flex-article{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}

section{
    flex: 1;
}

/*styling of food images*/

#food-icon1{
    width: 100px; /*specific width*/
    height: 90px; /*specific height*/
    margin: 20px 100px;
    transition: 0.3s;
    background-color: #c2d0d5;
    border-radius: 40px;
    box-shadow: 2px 4px 6px #132743; /*shadow*/
}

#food-icon2{
    width: 90px;
    height: 100px;
    margin: 30px 100px;
    transition: 0.3s;
    background-color: #b0cdd7;
    border-radius: 50px;
    box-shadow: 2px 4px 6px #132743; 
}

#food-icon3{
    width: 100px;
    height: 100px;
    margin: 30px 230px;
    transition: 0.3s;
    background-color: #b0cdd7;
    border-radius: 50px;
    box-shadow: 2px 4px 6px #132743; 
}

/*animation*/

#food-icon1:hover, #food-icon2:hover, #food-icon3:hover{
    transform: rotate(40deg);
}

#day, #diet, #mealValue{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}



h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    color:#132743;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

/*footer styling*/

.footer{
    width: 100%; /*full width of body*/
    height: 35px;
    background-color: #407088;
    bottom: 0;
    text-align: center;
    padding-top: 0;
    margin: 30px  0 0 0;
}

p{
    color: #ffb5b5;
    font-size: 12px;
    margin: 0;
    bottom: 0;
}
.food-info{
    color: black;
    text-align: center;
}


#submit-btn {
    background-color: #ff9f9f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.1s;
  }
  
#submit-btn:hover {
    background-color: #fb9191;
}



/* Popover Styles */
.popover-container {
    position: relative;
}

.popover-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 40px;
    width: fit-content;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.popover-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    color: #132743;
}

.popover-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #407088;
}

.see-all-link {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.see-all-link:hover {
    text-decoration: underline;
}


.show-popover {
    display: block !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 30%;
    border:2px solid black ;
    border-radius: 20px;
    margin: 20px auto;
    background-color: #fff;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    box-shadow: 2px 4px 6px #132743; 
}
.add{
    display: block;
    margin: 0 auto;
}

p{
    margin-top: 10px;
}

