#submit-btn {
    background-color: #ff9f9f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.1s;
  }
  
  #submit-btn:hover {
    background-color: #fb9191;
  }
  
main{
    padding-top: 100px;
}

.flex-article{
    display: flex;
    justify-content: space-around;
}

section{
    flex: 1;
}

#food-icon1{
    width: 100px;
    height: 90px;
    margin: 20px 100px;
    transition: 0.3s;
    background-color: #c2d0d5;
    border-radius: 40px;
    box-shadow: 2px 4px 6px #132743; 
}

#food-icon2{
    width: 90px;
    height: 100px;
    margin: 30px 100px;
    transition: 0.3s;
    background-color: #b0cdd7;
    border-radius: 50px;
    box-shadow: 2px 4px 6px #132743; 
}

#food-icon3{
    width: 100px;
    height: 100px;
    margin: 30px 230px;
    transition: 0.3s;
    background-color: #b0cdd7;
    border-radius: 50px;
    box-shadow: 2px 4px 6px #132743; 
}

#food-icon1:hover, #food-icon2:hover, #food-icon3:hover{
    transform: rotate(40deg);
}

#day, #diet, #mealValue{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #fbdada;
    background: radial-gradient(50% 50%, #fff, #fdd5d5);
    font-family: sans-serif;
}

.header{
    width:100%;
    height: 80px;
    position: fixed;
    background-color: #407088;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
}

nav{
    margin-right: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    margin-left: 0px;
}

ul li a{
    padding: 0 18px;
    text-decoration: none;
    color: #ffb5b5;
    display: inline-block;

}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #ffcbcb;
}

li:not(.notifications) a:hover::after{
    width: 100%;
}

li#bookings, li#manage-users{
    position: relative;
}

.drop-down{
    display: none;
    border-radius: 10px;
}

ul li:hover .drop-down{
    display: block;
    position: absolute;
    background-color: #4b788f;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    left: 0;

}

ul li:hover .drop-down ul{
    display: block; 
    margin: 0;
    padding: 0;
}

ul li:hover .drop-down ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
}

.notifications{
    transition: all 0.5s;
    color: #ffb5b5;
    transform-origin: center;
    padding-left: 10px;
}

.notifications:hover{
   color: white;
}

h1{
    color: #ffb5b5;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: auto;
}


h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    color:#132743;
    padding: 10px;
    margin: 30px;
    text-align: center;
}

.footer{
    width: 100%;
    height: 35px;
    background-color: #407088;
    bottom: 0;
    text-align: center;
    padding-top: 0;
    margin: 30px  0 0 0;
}

p{
    color: #ffb5b5;
    font-size: 12px;
    margin: 0;
    bottom: 0;
}
.food-info{
    color: black;
    text-align: center;
}






/* Popover Styles */
.popover-container {
    position: relative;
}

.popover-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 40px;
    width: fit-content;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.popover-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
    color:#fb9191;
}

.popover-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #407088;
}

.see-all-link {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.see-all-link:hover {
    text-decoration: underline;
}


.show-popover {
    display: block !important;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 30%;
    border:2px solid black ;
    border-radius: 20px;
    margin: 20px auto;
    background-color: #fff;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 1;
    box-shadow: 2px 4px 6px #132743; 
}
.add{
    display: block;
    margin: 0 auto;
}

p{
    margin-top: 10px;
}

