body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #FAE7E9;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.feedback_background{
    width: 630px;
    margin: 10px;
    margin-top: 20px;
    background-color: #FAE7E9;
}
p.message {
    color :#4b9c4f;
}

/*back button styling*/
.back-button {
    margin: 20px;
    width: 70px;
    height: 35px;
    cursor: pointer;
    border-radius: 30px; /*rounded border*/
    background-color: #68b5dc;
    border: 2px solid #44abde;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-icon{
    width: 20px;
    height: 30px;
    color: #fff;
}


.back-button:hover{
    background-color: #5c90a8;
}

/*style form container*/
.container {
    width: 550px;
    margin: 20px 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /*shadow around box*/
}

h2{
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    background-color: #90D26D; /*background of words*/
    padding: 20px;
    border-radius: 7px;
}

label {
    display: block;
    font-weight: bold;
    margin: 20px;
}

/*styling each input*/
input[type="text"],
select,
textarea {
    width: 100%; /*full width of form*/
    padding: 8px; /*padding for space*/
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 100px;
}

/*style submit button*/
input[type="submit"] {
    background-color: #90D26D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
}

div{
    text-align: center;
}

.submit-btn{
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*style success message*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; /*shows on top*/
    left: 0;
    top: 0;
    width: 100%; /*fills entire page*/
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(7, 228, 44, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  

  .close {
    color: #161616;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  
