body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.main{
    flex:1;
    padding-top: 80px;
    background-color: #f0f0f0;
    
}

.main-article{
    text-align: center;
}

.header{
    width:100%;
    height: 80px;
    position: fixed;
    background-color: #407088;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;
}

nav{
    margin-right: 40px;
}

ul{
    display: flex;
    list-style-type: none;
    margin-left: 0px;
}

ul li a{

    padding: 0 25px;

    text-decoration: none;
    color: #ffb5b5;
    display: inline-block;

}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    transition: 0.5s;
    background: #ffcbcb;
}

li:not(.notifications) a:hover::after{
    width: 100%;
}

li#bookings, li#manage-users{
    position: relative;
}

.drop-down{
    display: none;
    border-radius: 10px;
}

ul li:hover .drop-down{
    display: block;
    position: absolute;
    background-color: #4b788f;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 0;
    left: 0;

}

ul li:hover .drop-down ul{
    display: block; 
    margin: 0;
    padding: 0;
}

ul li:hover .drop-down ul li{
    width: 150px;
    padding:10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

ul li:hover .drop-down ul li:last-child{
    border-bottom: none;
}

.notifications a{
    transition: all 0.5s;
    color: #ffb5b5;
    transform-origin: center;

}

.notifications a:hover{
   color: white;
}

h1{
    color: #ffb5b5;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Popover Styles */
.popover-container {
    position: relative;
}

.popover-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    width: fit-content;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
}

.popover-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 19px;
}

.popover-content p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #407088;
}

.see-all-link {
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

.see-all-link:hover {
    text-decoration: underline;
}


.show-popover {
    display: block !important;
}


/*.hours{
    border: 1px solid black;
}*/

/*.table-container{
    max-width: 1200px;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffb5b5;
    border-radius: 7px;
}

table {
    background-color: #f0f0f0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 7px;
}

th, td {
    border: 1px solid black;
    border-radius: 7px;
    padding: 8px;
    text-align: left;
}

th {
    background-color: 1px solid black;
}*/

.table-container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #9ec7d5;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

table th:last-child, table td:last-child{
    border-right: none;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover{
    background-color: #fff;
}

.table-header{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;

    background-color: #FAE7E9;

    border: 1px solid #ddd;
    text-align: center;
}

h2{
    margin:10px auto;
}



/*ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;  
}*/

#add-task{
    background-color: #132743; /* Use fourth-color for submit button background */
    color: #fff; 
    font-weight: bold; 
    cursor: pointer;
    width: 400px; 
    padding: 10px;
    margin: 10px auto; 
    border: 1px solid #385170; /* Use third-color for input borders */
    align-self: center;
    border-radius: 20px; 
    outline: none; 
}

#add-task:hover{
    background-color: #1d3c67;
}

.footer{
    width: 100%;
    height: 35px;
    background-color: #407088;
    bottom: 0;
    text-align: center;
    justify-content: center;
    padding-top: 0;
    margin: 0;
    position: fixed;
}

footer p{
    color: #ffb5b5;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    bottom: 0;
}


/*css for the report*/

.back-sec{
    margin: 20px;
    margin-bottom: 0;
    color: #fff;
    margin-right: 100px;
    background-color: #4b788f;
    border: 1px solid #4b788f;
    border-radius: 25px;
    padding: 8px;
    width: 60px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.back-sec:hover{
    border: 1px solid #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

#back-btn {
    background-color: #4b788f;
    border: none;
    color: white;
    font-size: 19px;
    transition: transform 0.5s ease;
}

#back-btn:hover{
    animation: shake 0.8s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    50% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}


#GenerateByProject, #GenerateByTask, #GenerateByDiet, #GenerateByDate{
    margin: 10px 40px;
    border: 1px solid #9ec7d5;
    border-radius: 10px;
    background-color: #9ec7d5;
    padding: 10px;
    font-size: 15px;
    transition: 1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#GenerateByProject:hover, #GenerateByTask:hover, #GenerateByDiet:hover, #GenerateByDate:hover{
    transform: scale(1.1);
    border-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#GeneratePDF, #GenerateCSV{
    margin: 10px;
    font-size: 12px;
    color: #fff;
    background-color: #132743;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



#GeneratePDF:hover, #GenerateCSV:hover{
    color: #ffcbcb;
    background-color: #1d3c67;
}



.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}





